# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/.gitignore
/target/site/jacoco/com.busticket.domain.request/AddStopRequest.html
/target/site/jacoco/com.busticket.domain.request/AddStopRequest.java.html
/target/site/jacoco/com.busticket.domain.response/ApiResponse.html
/target/site/jacoco/com.busticket.domain.response/ApiResponse.java.html
/target/site/jacoco/com.busticket.servlet/AppInitializer.html
/target/site/jacoco/com.busticket.servlet/AppInitializer.java.html
/target/site/jacoco/com.busticket.configuration/ApplicationConfiguration.html
/target/site/jacoco/com.busticket.configuration/ApplicationConfiguration.java.html
/target/site/jacoco/com.busticket.domain.request/AvailabilityRequest.html
/target/site/jacoco/com.busticket.domain.request/AvailabilityRequest.java.html
/target/site/jacoco/com.busticket.service/AvailabilityService.html
/target/site/jacoco/com.busticket.service/AvailabilityService.java.html
/target/site/jacoco/com.busticket.servlet/AvailabilityServlet.html
/target/site/jacoco/com.busticket.servlet/AvailabilityServlet.java.html
/target/site/jacoco/com.busticket.domain/BaseDto.html
/target/site/jacoco/com.busticket.domain/BaseDto.java.html
/target/site/jacoco/com.busticket.domain.entity/Booking.html
/target/site/jacoco/com.busticket.domain.entity/Booking.java.html
/target/site/jacoco/jacoco-resources/branchfc.gif
/target/site/jacoco/jacoco-resources/branchnc.gif
/target/site/jacoco/jacoco-resources/branchpc.gif
/target/site/jacoco/jacoco-resources/bundle.gif
/target/site/jacoco/com.busticket.domain.entity/Bus.html
/target/site/jacoco/com.busticket.domain.entity/Bus.java.html
/.idea/bus_ticket_service.iml
/target/site/jacoco/com.busticket.domain.entity/BusFare.html
/target/site/jacoco/com.busticket.domain.entity/BusFare.java.html
/target/site/jacoco/com.busticket.domain.request/CalculateFareRequest.html
/target/site/jacoco/com.busticket.domain.request/CalculateFareRequest.java.html
/target/site/jacoco/jacoco-resources/class.gif
/target/surefire-reports/com.busticket.service.AvailabilityServiceTest.txt
/target/surefire-reports/com.busticket.service.FareServiceTest.txt
/target/surefire-reports/com.busticket.service.JourneyServiceTest.txt
/target/surefire-reports/com.busticket.service.ReservationServiceTest.txt
/target/surefire-reports/com.busticket.service.SeatServiceTest.txt
/.idea/compiler.xml
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/site/jacoco/com.busticket.service/DataStore.html
/target/site/jacoco/com.busticket.service/DataStore.java.html
/target/site/jacoco/com.busticket.util/DateParserUtil.html
/target/site/jacoco/com.busticket.util/DateParserUtil.java.html
/target/site/jacoco/jacoco-resources/down.gif
/.idea/encodings.xml
/target/site/jacoco/com.busticket.domain.response/ErrorResponse.html
/target/site/jacoco/com.busticket.domain.response/ErrorResponse.java.html
/target/site/jacoco/com.busticket.domain.response/FareResponse.html
/target/site/jacoco/com.busticket.domain.response/FareResponse.java.html
/target/site/jacoco/com.busticket.service/FareService.html
/target/site/jacoco/com.busticket.service/FareService.java.html
/.idea/git_toolbox_prj.xml
/target/site/jacoco/jacoco-resources/greenbar.gif
/target/site/jacoco/jacoco-resources/group.gif
/target/site/jacoco/com.busticket.servlet/HealthServlet.html
/target/site/jacoco/com.busticket.servlet/HealthServlet.java.html
/target/site/jacoco/com.busticket.domain.container/HealthStatus.html
/target/site/jacoco/com.busticket.domain.container/HealthStatus.java.html
/target/site/jacoco/com.busticket.domain.enums/HttpStatus.html
/target/site/jacoco/com.busticket.domain.enums/HttpStatus.java.html
/target/site/jacoco/com.busticket/index.html
/target/site/jacoco/com.busticket.configuration/index.html
/target/site/jacoco/com.busticket.domain/index.html
/target/site/jacoco/com.busticket.domain.container/index.html
/target/site/jacoco/com.busticket.domain.entity/index.html
/target/site/jacoco/com.busticket.domain.enums/index.html
/target/site/jacoco/com.busticket.domain.request/index.html
/target/site/jacoco/com.busticket.domain.response/index.html
/target/site/jacoco/com.busticket.service/index.html
/target/site/jacoco/com.busticket.servlet/index.html
/target/site/jacoco/com.busticket.util/index.html
/target/site/jacoco/index.html
/target/site/jacoco/com.busticket/index.source.html
/target/site/jacoco/com.busticket.configuration/index.source.html
/target/site/jacoco/com.busticket.domain/index.source.html
/target/site/jacoco/com.busticket.domain.container/index.source.html
/target/site/jacoco/com.busticket.domain.entity/index.source.html
/target/site/jacoco/com.busticket.domain.enums/index.source.html
/target/site/jacoco/com.busticket.domain.request/index.source.html
/target/site/jacoco/com.busticket.domain.response/index.source.html
/target/site/jacoco/com.busticket.service/index.source.html
/target/site/jacoco/com.busticket.servlet/index.source.html
/target/site/jacoco/com.busticket.util/index.source.html
/target/site/jacoco/com.busticket.servlet/InfoServlet.html
/target/site/jacoco/com.busticket.servlet/InfoServlet.java.html
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/site/jacoco/jacoco.csv
/target/jacoco.exec
/target/site/jacoco/jacoco.xml
/target/site/jacoco/jacoco-sessions.html
/.idea/jarRepositories.xml
/target/site/jacoco/com.busticket.domain.entity/Journey.html
/target/site/jacoco/com.busticket.domain.entity/Journey.java.html
/target/site/jacoco/com.busticket.domain.response/JourneyInfo.html
/target/site/jacoco/com.busticket.domain.response/JourneyInfo.java.html
/target/site/jacoco/com.busticket.service/JourneyService.html
/target/site/jacoco/com.busticket.service/JourneyService.java.html
/target/site/jacoco/com.busticket.util/JsonUtil.html
/target/site/jacoco/com.busticket.util/JsonUtil.java.html
/target/site/jacoco/com.busticket.util/LoggingConfig$CustomFormatter.html
/target/site/jacoco/com.busticket.util/LoggingConfig.html
/target/site/jacoco/com.busticket.util/LoggingConfig.java.html
/target/site/jacoco/jacoco-resources/method.gif
/.idea/misc.xml
/target/site/jacoco/jacoco-resources/package.gif
/target/site/jacoco/com.busticket.domain.request/PassengerInfo.html
/target/site/jacoco/com.busticket.domain.request/PassengerInfo.java.html
/target/maven-archiver/pom.properties
/target/site/jacoco/jacoco-resources/prettify.css
/target/site/jacoco/jacoco-resources/prettify.js
/target/site/jacoco/jacoco-resources/redbar.gif
/target/site/jacoco/jacoco-resources/report.css
/target/site/jacoco/jacoco-resources/report.gif
/target/site/jacoco/com.busticket.util/RequestParser.html
/target/site/jacoco/com.busticket.util/RequestParser.java.html
/target/site/jacoco/com.busticket.domain.response/ReservationResponse$BookingDetail.html
/target/site/jacoco/com.busticket.domain.response/ReservationResponse$JourneyDetail.html
/target/site/jacoco/com.busticket.domain.response/ReservationResponse.html
/target/site/jacoco/com.busticket.domain.response/ReservationResponse.java.html
/target/site/jacoco/com.busticket.service/ReservationService.html
/target/site/jacoco/com.busticket.service/ReservationService.java.html
/target/site/jacoco/com.busticket.servlet/ReservationServlet.html
/target/site/jacoco/com.busticket.servlet/ReservationServlet.java.html
/target/site/jacoco/com.busticket/RestServer.html
/target/site/jacoco/com.busticket/RestServer.java.html
/target/site/jacoco/com.busticket.domain.entity/Seat.html
/target/site/jacoco/com.busticket.domain.entity/Seat.java.html
/target/site/jacoco/com.busticket.domain.entity/SeatHold.html
/target/site/jacoco/com.busticket.domain.entity/SeatHold.java.html
/target/site/jacoco/com.busticket.service/SeatService.html
/target/site/jacoco/com.busticket.service/SeatService.java.html
/target/site/jacoco/com.busticket.configuration/ServerConfiguration.html
/target/site/jacoco/com.busticket.configuration/ServerConfiguration.java.html
/target/site/jacoco/jacoco-resources/session.gif
/target/site/jacoco/jacoco-resources/sort.gif
/target/site/jacoco/jacoco-resources/sort.js
/target/site/jacoco/jacoco-resources/source.gif
/target/site/jacoco/com.busticket.domain.enums/StatusType.html
/target/site/jacoco/com.busticket.domain.enums/StatusType.java.html
/target/site/jacoco/com.busticket.domain.entity/Stop.html
/target/site/jacoco/com.busticket.domain.entity/Stop.java.html
/target/surefire-reports/TEST-com.busticket.service.AvailabilityServiceTest.xml
/target/surefire-reports/TEST-com.busticket.service.FareServiceTest.xml
/target/surefire-reports/TEST-com.busticket.service.JourneyServiceTest.xml
/target/surefire-reports/TEST-com.busticket.service.ReservationServiceTest.xml
/target/surefire-reports/TEST-com.busticket.service.SeatServiceTest.xml
/target/site/jacoco/jacoco-resources/up.gif
/target/site/jacoco/com.busticket.domain.request/UpdateFareRequest.html
/target/site/jacoco/com.busticket.domain.request/UpdateFareRequest.java.html
/.idea/vcs.xml
/target/bus_ticket_service-1.0.0/WEB-INF/web.xml
